@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.carousel-caption {
  text-shadow: 0 0 20px black;
}

/* body {
  background-color: #bdeff1;
} */

.bg-dark {
  background-color: #142446 !important;
}

.navbar-dark {
  color: #bdeff1 !important;
}

/* .selected-city {
  color: #bdeff1;
  background-color: #142446;
}

.bg-yellow {
  background-color: #f4f1bb;
}

.current-city {
  background-color: #8aa39b;
} */
